/* licence Section */
.licence {
  background: #2b2f55;
  height: 240px;
  margin-top: 3rem;
  padding-top: 3rem;
}
.licence_txt {
  font-size: 14px;
}
.next_txt,
.licence_txt {
  font-size: 12px;
  color: #aaacbb;
}
.renew,
.disord,
.transfer,
.laptop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.renew-btn {
  width: 248px;
  height: 48px;
  background: #01a9f4;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border: none;
}
.deactive-btn {
  width: 135px;
  height: 48px;
  background: #323662;
  color: #ec4165;
  border: none;
}
/* disord section */
.disord {
  height: 97px;
  background: #2b2f55;
  margin-top: 2rem;
  margin-right: 0 !important;
}

/* transfer */
.transfer {
  height: 132px;
  background: #2b2f55;
  margin-top: 2rem;
}
.transfer-btn {
  color: #1ec1c3;
}
.laptop {
  height: 172px;
  background: #2b2f55;
  margin-top: 2rem;
  padding: 2rem;
  padding-right: 0.5rem;
}
.laptop button {
  padding: 0.5rem 4rem;
  background: #1ec1c3;
  border: none;
  font-size: 14px;
}
.win-btn {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.andriod_os {
  display: flex;
  flex-direction: column;
}
/* Modal  */
.custom_modal {
  background: #323662 !important;
  border-top: 1px solid #2e325c !important;
  border-bottom: 1px solid #2e325c !important;
}
.custom_modal .close {
  color: white;
}
.custom_footer {
  background: #292d52 !important;
  border-top: 1px solid #2e325c !important;
}
.send-btn {
  background: #1ec1c3;
  width: 135px;
  height: 48px;
  color: white;
  border: none;
}
.cancel-btn {
  width: 135px;
  height: 48px;
  background: #2e325c;
  color: white;
  border: none;
}
#emailInput {
  width: 100%;
  padding: 1rem 2rem;
  background: #292d52;
  font-size: 1rem;
  border: none;
  color: white;
}
#emailInput:focus {
  border: none;
  outline: none;
}
.modal-content {
  border: none;
}
.error {
  color: #ec4165;
}
/* congrates popup  */
.congrates_modal {
  background: #2d325a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  text-align: center;
}

.congrates_header {
  background: #2d325a;
  color: white !important;
  border-bottom: #2d325a;
}
.send_again {
  margin-top: 2rem;
}
.congrates_header img {
  align-items: center;
  text-align: center;
  align-content: center;
  display: flex;
  position: absolute;
  right: 50%;
  /* top: 50%; */
  z-index: 2;
  transform: translateX(50%);
}
