* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #202342;
  color: white;
  font-family: "Helvetica Neue", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* .App {
  background: #2b2f55;
} */
